:root {
  --primary: #b7b7b7;
  --secondary: #ffffff;
  --theme: #000000be;
  --fc-event-bg-color: transparent;
  --fc-event-border-color:transparent;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background-image: url("../public/light-gray-abstract-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
}
* {

  margin: 0;
  
}

.nav-links {
  display: flex;
  flex-grow: 1; 
  justify-content: space-between; 
  flex-direction: column; 
  align-items: center; 
  
}
.center-links {
  display: flex;
  gap: 20px; 
  top: 0;
}
.center-links a{
  color: white;
}
header h1 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
  color: var(--theme);
  border-bottom: #000000 3px solid;
}

header nav a{
  text-decoration: none;
  padding: 6px;
  background: #6161616e;
  border-radius: 4px;
  transition: 0.3s;
}
header nav a.active {
  background: var(--theme);
}
header nav a:hover{
  
  background:  var(--theme);
}
header nav a.active:hover{
  background:  var(--theme);
}
.navigation .header{
  display: flex;
 

}
.navigation .logout{
  font-size: 17px;
  position: absolute;
  font-family: "Poppins";
  transition: 0.3s;
  background:#00000073 ;
  border: none;
  color: #000000;
  width: 4rem;
  padding: 5px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  right: 0;
}
.navigation .logout:hover{
  background:#000000af;
  
}

main {
  margin: 40px auto;
}
.home{
  margin: 10px;
}
.home .title{
  text-align: center;
}

.login {
  box-sizing: border-box;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-width: 30rem;
  max-height:50rem;
  min-height: 20rem;
  display: block;
  justify-content: center;
  margin: 15em auto ;
  font-family: 'roboto', sans-serif;
  background-color:rgba(71, 71, 71, 0.402);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.459);
  border: 1px solid rgba(255,255,255, .18);
  border-radius: 20px;

}
.login label{
  display:grid;
  text-align: left;
  font-weight: 600;
  margin-left: 1em;
}
.login h2{
  
  text-align: center;
  font-size: 30px;
  color: #000000;
  margin-bottom: 30px;
}
.login input{
  width: 95%;
  padding: 6px 10px;
  margin:10px 5px;
  color: #000000;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  
}

.login button{
  margin: 30px auto;
  font: 1.5em sans-serif;
  font-weight: 600;
  display: block;
  color:var(--theme);
  border: none;
  border-radius: 6px;
  transition: 0.4s;
  width: 30%;
  height: 40px;

}
.login button:hover{
  background-color:  #464646ce;
  color: #ffffff;

}
.regestir-her ,.login-her{
  display: flex;
  gap:10px;
  margin: 10px;
  color: #000000;
  font-size: 16px;
}
.regestir-her :Link,.login-her :Link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.regestir-her :Link:hover,.login-her :Link:hover{
  text-decoration: underline;
  
}
.regestir-her a ,.login-her a{
color: #000;
}
.blod{
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: -1;
  background: linear-gradient(135deg , #10101090 , #feffffbd);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  transform: translate(-100px , -50px);
  animation: img_animation 20s linear infinite alternate;
}
@keyframes img_animation {
  100%{
      border-radius: 17% 83% 21% 79% / 58% 32% 68% 42% ;
      transform: translate(200px , 50px);
  }
}
body.active-modal {
  overflow-y: hidden;
}
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;

}
.overlay {
  background-color: #100808d3;
  
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  color:white;
  z-index: 999;
  transform: translate(-50%, -50%);
  background:#424242;
  padding: 14px 28px;
  border-radius: 8px;
  max-width: 600px;
  min-width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  
}
.modal-content input{
  margin-top: 15px;
  width: 100%;
  height: 25px;
}
.modal-content h2{
  text-align: center;
  margin-right: 20px;
}
.modal-button ,.close-modal ,.submit-modal{
  display: flex;
  
}
.close-modal {
  background:var(--theme);
  color: #ffffff;
  font-size: 15px;
  font-weight: 750;
  display: flex;
  padding: 15px;
  margin: 15px 45px;
  border: none;
  border-radius: 6px;
  transition: 0.4s;
}
.submit-modal{
  background:var(--secondary);
  color: black;
  font-size: 15px;
  font-weight: 750;
  display: flex;
  padding: 15px;
  margin: 15px 45px;
  border: none;
  border-radius: 6px;
  transition: 0.4s;
}
.submit-modal:hover{
  background: #686868;
}
.close-modal:hover{
  background: #313131;
}
.home-container {
  display: flex; 
  gap: 20px; 
}
.all-events{
  flex: 1; 
  max-width: 300px; 
  overflow-y: auto; 
  color: white;
  border-right: 1px solid #ddd;
  background-color: #474747cb;
  border-radius: 15px;
  padding: 10px;
}
.all-events h2{
text-align: center;
margin-bottom: 20px;

}
.calendar-container {
  flex: 3; 
  padding: 10px; 
  color: #000000;
}

.event-preview {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--primary);
}

.event-preview h3 {
  margin: 0;
  
}
.event-preview h4 {
  margin-right: 0;
 
}
.event-details{
  display: flex;
  justify-content: space-between;
  width: 100%; 
  
}
.user-tasks{
  gap: 10px;
  margin: 10px;
  
}
.user-tasks .note-content{
 background-color:var(--primary);
 width: 99%;
 position: fixed;
 padding: 13px;
 border-radius: 8px;
 border: 1px solid #ffffff6c;
 display: flex;
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 flex-grow: 1;
 

}
.user-tasks .note-content input{
flex-grow: 15;
height: 30px;
border-radius: 9px;
border: none;
font-size:medium;
color: #000000;
}
.user-tasks .note-content input::placeholder{
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  margin-left: 10px;

}

.user-tasks .note-content .add-note{
  flex-grow: 1;
  padding: 8px;
  width:70px ;
  color: white;
  background-color: var(--theme);
  border: none;
  border-radius: 9px;
  font-size: 17px;
  font-weight: 600;
  margin-left: 5px;
  transition: 0.3s;
  z-index: 10;
}
.user-tasks .note-content .add-note:hover{
  background-color: #424242b2;
 

}

.user-tasks .all-notes{

  max-width: 100%; 
  min-height: 4.7rem;
  overflow-y: auto; 
  border-right: 1px solid #ddd;
  background-color: var(--primary);
  border-radius: 15px;
  padding: 10px;
  flex-wrap: wrap;
}
.user-tasks .all-notes .notes-preview{
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  background-color: #424242;
  transition: 0.3s;

}
.done-button{
  background: transparent;
  border:3px solid #ffffff;
  padding: 5px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
.done-button:hover{
  rotate: 30deg;
  margin-right: 5px;
  border:3px solid #00871b;
  border-left: hidden;
  border-top: hidden;
  width: 12px;
  
}

.user-tasks .all-notes .notes-preview:hover{
  background-color: #525252;

}
.user-tasks .all-notes .notes-preview .note-details{
  display: flex;
  justify-content: space-between;
  width: 100%; 
  flex-wrap: wrap;
}
.user-tasks .all-notes .notes-preview .note-details h4 {
  word-wrap: break-word; 
  white-space: pre-wrap;
  width: 100%; 
  overflow-wrap: break-word; 
  max-width: calc(100% - 80px);
}
.fc-event-title-container{
  background-color: var(--theme);
  border-radius: 5px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  height: 1.5em;
  text-align: center;
}
.fc-event-title-container:hover{
  background-color: #6d6e6e;
  
}

.fc-daygrid-day-frame {
  border: 1px solid #00000057;
  
}
.loading{
  display: flex;
  margin: 0 auto;
  margin-top: 400px;
  height: 40px;
  width: 40px;
  border-radius:  50%/50% ;
  border: 10px solid var(--primary);
  border-top: 10px solid #000000;
  z-index: 999;
 
  animation: loading_animation infinite 1.5s linear;
}
@keyframes loading_animation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
