:root {
  --primary: #082c4a;
  --secondary: #bcd1e6;
  --theme: #2b6f91;

}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #011e35;
  margin: 0;
  
}
header nav{
  padding: 10px;
  display: flex;
  gap: 16px;
  justify-content: end;
  margin: 20 auto;
  border-radius: 8px;
  
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--theme);
  font-size: 30px;
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  transition: 0.3s;
}
header nav a.active {
  background: var(--theme);
}
header nav a:hover{
  color: white;
  background:  var(--theme);
}
header nav a.active:hover{
  color: var(--primary);
  background:  var(--theme);
}
main {
 
  margin: 40px auto;
}
.home{
  margin: 10px;
}
.home .title{
  text-align: center;
}

.login {
  box-sizing: border-box;
  align-items: center;
  position: relative;
  max-width: 500px;
  max-height: 600px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  margin: 200px auto ;
  font-family: 'roboto', sans-serif;
  background-color: #1d7aa97d;
  border: none;
  border-radius: 10px;

}
.login label{
  display:grid;
  text-align: left;
  font-weight: 600;
  margin-left: 10px;
}
.login h2{
  
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
.login input{
  width: 95%;
  padding: 6px 10px;
  margin:10px 5px;
  color: #000000;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  
}
.login button{
  margin: 30px auto;
  font: 1.5em sans-serif;
  font-weight: 600;
  display: block;
  color:var(--primary);
  border: none;
  border-radius: 6px;
  transition: 0.4s;
  width: 30%;
  height: 40px;

}
.login button:hover{
  background-color:  #3f8ac8a4;
  color: #ffffff;

}
.regestir-her{
  display: flex;
  gap:10px;
  margin: 10px;
}
.regestir-her :Link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.login-her{
  display: flex;
  gap:10px;
  margin: 5px;
}
.login-her :Link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;

}

body.active-modal {
  overflow-y: hidden;
}
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;

}
.overlay {
  background-color: #100808d3;
  
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  background:var(--theme);
  padding: 14px 28px;
  border-radius: 8px;
  max-width: 600px;
  min-width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  
}
.modal-content input{
  margin-top: 15px;
  width: 100%;
  height: 25px;
}
.modal-content h2{
  text-align: center;
  margin-right: 20px;
}
.modal-button ,.close-modal ,.submit-modal{
  display: flex;
  
}
.close-modal ,.submit-modal{
  background:var(--primary);
  color: #ffffff;
  font-size: 15px;
  font-weight: 750;
  display: flex;
  padding: 15px;
  margin: 15px 45px;
  border: none;
  border-radius: 6px;
  transition: 0.4s;
}
.close-modal:hover,.submit-modal:hover{
  background: #2b557e;
}
.home-container {
  display: flex; 
  gap: 20px; 
}
.all-events{
  flex: 1; 
  max-width: 300px; 
  overflow-y: auto; 
  border-right: 1px solid #ddd;
  background-color: #082c4a67;
  border-radius: 15px;
  padding: 10px;
}
.all-events h2{
text-align: center;
margin-bottom: 20px;

}
.calendar-container {
  flex: 3; 
  padding: 10px; 
}


.event-preview {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #cadff7fc;
}

.event-preview h3 {
  margin: 0;
  
}
.event-preview h4 {
  margin-right: 0;
 
}
.event-details{
  display: flex;
  justify-content: space-between;
  width: 100%; 
}
.navigation .logout{
  font-size: 17px;
  font-family: "Poppins";
  transition: 0.3s;
  background:#00000073 ;
  border: none;
  color: #000000;
  margin-top: -5px;
  border-radius: 20px;
  font-weight: 500;
  margin-left: 40px;
}
.navigation .logout:hover{
  background:#000000f3;
  color: #ffffff;
}
